<div class="about" style="margin: 20px auto; width: 800px;">

	<h2>NO.27について</h2>

	<p align="left">当サイトはVIPカーという日本発祥の独自の自動車文化をこよなく愛する、現代では希少なオーナー様、また自動車愛好家のための交流情報サイトとなります。<br>当管理者は日産シーマを愛しY33を2台F50を1台所有しておりました。またジャンクションプロデュースデモカー、LEXUS GS, INFINITI Q45の制作、展示を米国でさせていただいておりました。<br>特に90年代の角ばったボディーの黒塗りフルサイズセダンは最高ですね。<br>
	<br>
	当サイトはVIPカー専門サイトですのでそれ以外のジャンルに車両の登載はご遠慮くださいませ。また当サイトをご利用の際は、当ウェブサイト下部にあります注意事項同意の上ご利用くださいませ。</p>
	<br>
	<br>

	<div class="about-image" style="text-align: center;">
		<%= image_tag '/images/GS.JPG', size:'450x340'%>
	</div>

</div>

